.hidden-left {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(-100%);
    transition: all 0.6s;
}

.hidden-right {
    opacity: 0;
    filter: blur(15px);
    transform: translateX(100%);
    transition: all 0.6s;
}

.hidden {
    transform: translateY(200%);
}

.shown {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
}


@media(prefers-reduced-motion) {
    .hidden-left {
        transition: none;
    }

    .hidden-right {
        transition: none;
    }
    .hidden {
	transition: none;
}


}

