.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  z-index: 1;
  background-color: var(--clr-backgrnd);
  color: var(--clr-main-text);
  z-index: 9999;


}

.header__links {
  color: var(--clr-main-text);
  display: none;
}

.burger {
  display: block;
  color: var(--clr-main-text);
  width: var(--size-2xl);
  height: var(--size-2xl);
}

.header__sun,
.header__language {
  transition: color 0.25s;
}

@media (min-width: 475px) {
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .header__links {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .header__links__link {
    font-size: var(--size-xs);
    font-weight: 500;
    color: var(--main-text);
    letter-spacing: -0.05rem;
    transition-duration: 0.25s;
  }

  .header__links__link:hover {
    color: var(--clr-red);
  }

  .header__links__line {
    border: 1px solid var(--clr-main-text);
    padding-top: 1.5em;
  }

  .header__sun {
    display: block;
    color: var(--clr-main-text);
    width: var(--size-base);
    height: var(--size-base);
  }

  .header__language:hover,
  .header__sun:hover {
    color: var(--clr-red);
  }

  .header__language {
    display: block;
    color: var(--clr-main-text);
    width: var(--size-base);
    height: var(--size-base);
  }

  .header__links__writeme {
    font-size: var(--size-xs);
  }
}

@media (min-width: 1024px) {
  .header__links__link {
    font-size: var(--size-s);
  }

  .header__sun {
    width: var(--size-xl);
    height: var(--size-xl);
  }

  .header__language {
    width: var(--size-xl);
    height: var(--size-xl);
  }

  .header__links__writeme {
    font-size: var(--size-s);
  }
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
  .header__links__link {
    font-size: var(--size-base);
  }

  .header__sun {
    width: var(--size-3xl);
    height: var(--size-3xl);
  }

  .header__language {
    width: var(--size-3xl);
    height: var(--size-3xl);
  }

  .header__links__writeme {
    font-size: var(--size-base);
  }
}
